
*.v2
.vs/SistemaFinch/FileContentIndex/3f8772ae-0e01-405e-b62f-a6442fb4f332.vsidx
*.vsidx
*.lock
.vs/SistemaFinch/v17/.suo
*.json
*.cache
*.txt
SistemaFinch.csproj.user
*.targets
*.props
*.pdb
*.editorconfig
*.resources
obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
*.exe
*.dll
obj/Debug/net7.0-windows/SistemaFinch.GlobalUsings.g.cs
obj/Debug/net7.0-windows/SistemaFinch.AssemblyInfo.cs
